* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0px;
}
.Header {
  background-color: black;
  padding:25px;
  display: flex;
}
.title {
  font-size: 75px;
  color: white;
}
.jp{
  padding-top: 30px;
 
}

.searchbar {
  background-color: dimgray;
  width:100%;
  justify-content: center;
  display:inline-flexbox;
  padding:20px;
}

.search-bar{
  justify-content: center;
  padding-left: 20%;
}
